<mat-divider></mat-divider>
<div class="">
    <div class="documents">
        <mat-card>
            <mat-list>
                <div mat-subheader>Cooperate Documents</div>
                <mat-list-item *ngFor="let folder of folders">
                    <mat-icon mat-list-icon>library_books</mat-icon>
                    <div mat-line>{{folder.name}}</div>
                    <div mat-line> {{folder.description }} </div>
                    <a href="{{folder.pdfUrl}}" target = "_blank">
                        <i class="material-icons">
                            cloud_download
                        </i>
                    </a>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>